{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "rules": {
    "react/jsx-pascal-case": "off",
    "react/jsx-key": "off",
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  }
}
